@namespace svg url("http://www.w3.org/2000/svg");
                    
body{
    accent-color: black;
}
span.chkContainer{
    margin-right: 0.5em;
}
div.graph{
    width: 100%;
    margin: 1rem auto 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.graph svg|svg{
    max-width: 80rem;
    height: auto;
}
div.legends{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    div.legend{
        border: solid 1pt gray;
        padding: 0.25em;
        ul{
            list-style-type: none;
            padding: 0.25em;
        }
    }
}
h4{
    margin: 0.25em;
}
section.appendix{
    display: none;
}
svg|g[id^="narr_"], svg|g[id^="narrmark_"], svg|g[id^="charline_"], svg|g[id^="char_"], svg|g[id^="tellline_"]{
    cursor: pointer;
}
dialog#dlgEvents{
    position: fixed;
    margin: 0 0 0 auto;
    top: 1em;
    right: 1em;
    width: 30vw;
    max-width: 70em;
    background-color: lightgray;
    box-shadow: 0.1em 0.1em gray;
    border: solid 1pt black;
}